@import '../current';

* {
  all: unset;
}

.bonsai {
  background-color: $surface2;
}

.calender {
  background-color: $surface2;
}

.multibox {
  background-color: $surface2;
}

.split1 {
  background-color: $surface2;
}

.split2 {
  background-color: $surface2;
}
